.wrapper {
    margin-top: 2em;;
}
.grid {
    width: 980px;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 16px;
    background-color: rgb(242, 242, 242)
}
      
.grid_item {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(142, 141, 141, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.grid_item-pair {
    line-height: 1.4;
    padding-top: 2px; 
    text-align: center;
    color: #fff;
    background-color: rgb(97, 93, 93);
}

.wrap_usd {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    background-color: rgb(220, 231, 243);
}

.wrap_sell {
    position: relative;
    z-index: 1;
    width: 35%;
    height: 40px;
    margin: 0.5em;
    border-radius: 7px;
    border: 2px solid #ccc;
    border-width: 2px 0 2px 2px;
    background: #fff;
    color: rgb(224, 40, 37);
}

.wrap_sell::before {
    content:"";
    position: absolute;
    z-index: -2;
    transform: rotate(45deg);
    left: 70%;
    top: 2px;
    height: 32px;
    width: 35px;
    border: 2px solid #ccc;
    border-width: 2px 2px 0px 0px;
    border-radius: 12px 8px 8px 0;
    border-top-right-radius: 30%;
    background-color: #fff;;
 } 

.wrap_sell h6 {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 8px;
}

.wrap_sell p {
    text-align: left;
    margin-left: 4%;
}

.wrap_buy {
    position: relative;
    z-index: 1;
    width: 35%;
    height: 40px;
    margin: 0.5em;
    border: 2px solid #ccc;
    border-radius: 7px;
    background: #fff;
    color: rgb(17, 172, 61);
}

.wrap_buy::before {
    content:"";
    position: absolute;
    z-index: -2;
    transform: rotate(45deg);
    right: 70%;
    top: 2px;
    height: 32px;
    width: 35px;
    border: 2px solid #ccc;
    border-width: 0px 0px 2px 2px;
    border-radius: 8px 0px 8px 12px;
    border-top-left-radius: 30%;
    background-color: #fff;
}

.wrap_buy {
    text-align: right;
}

.wrap_buy h6{
    text-align: right;
    margin-top: 5%;
    margin-right: 4%;
    font-size: 8px;
}

.wrap_sell:hover {
    border: 1px solid rgb(54, 181, 190);
    color: #fff;
    background-color: rgb(243, 40, 40);
}

.wrap_buy:hover {
    background-color: rgb(95, 207, 42);
    color: #fff;
    border: 2px solid rgb(54, 181, 190);
}

.wrap_buy:hover::before {
    border: 1px solid rgb(54, 181, 190);
    border-width: 0px 0px 2px 2px;
    background-color: rgb(95, 207, 42);
}

.wrap_sell:hover::before {
    border: 1px solid rgb(54, 181, 190);
    border-width: 2px 2px 0px 0px;
    background-color: rgb(243, 40, 40);
}

.wrap_value {
    display: flex;
    margin-left: 5%;
}

.value_begin {
    margin-top: 15%;
}

.value_middle {
    margin-top: 12%;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 6px;
}

.wrap_buy-value p {
    margin-left: 5%;
}

.arrow {
    margin: 1em;
} 

.red_arrow {
    width: 0;
    height: 0;
    border-top: 15px solid #d82020;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.green_arrow {
    width: 0;
    height: 0;
    margin-top: 0.5em;
    border-bottom: 15px solid #186b0b;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}